.root {
   text-align: center;

   button {
      margin-top: 30px;
      padding: 5px;
      border-radius: 10px;
      border: 0;
      font: inherit;
      color: inherit;
      background-color: coral;
      cursor: pointer;
   }
}
